<%- include("partials/header.ejs") %>


    <div class="w-full flex items-center justify-center h-screen px-20">


        <h1>there are some issues.</h1>
    </div>

    <%- include("partials/footer.ejs") %>