    <%- include("partials/header.ejs") %>

    <div class="w-full h-screen flex items-start p-20">
<h1 class="text-3xl">Welcome to your profile, <%= data.user.fullname %></h1>
    </div>


    <%- include("partials/footer.ejs") %>